<p>affect-teachers works!</p>

<!-- User Table -->
<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>User Table</c-card-header>
        <c-card-body>
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Speciality</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userArray; let i = index">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.speciality }}</td>
                <td>
                  <button cButton (click)="AffectTeacher(user.id)"> Add to classroom </button>
              </td>
            </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  