<!-- widghets 
<div>
  <c-row>
    <c-col *ngFor="let widget of brandData; index as i" md="12" lg="6" xl="4">
      <c-widget-stat-d
      [style]="widget.capBg ?? null"
      [values]="widget.values"
      class="mb-4"
      >
        <svg [cIcon]="widget.icon" class="my-4 text-white" height="52"></svg>
        <ng-container *ngIf="withCharts">
          <c-chart
            #chart="cChart"
            [data]="widget.data"
            [options]="chartOptions"
            class="position-absolute w-100 h-100"
            type="line"
          >{{ chart.id }}</c-chart
          >
        </ng-container>
      </c-widget-stat-d>
    </c-col>
  </c-row>
  </div>
  -->
  

<c-col xs="12">
  <app-docs-callout href="charts">
    Stats 
    <br>
    <br>
  </app-docs-callout>
</c-col>

<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header> Doughnut Chart </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"> </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header> Pie Chart </c-card-header>
      <c-card-body>
        <c-chart type="pie" [data]="chartPieData" ></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Classroom Form</c-card-header>
      <c-card-body>
        <form cForm>
          <div class="mb-3">
            <label>Classroom Capacity</label>
            <input
              type="number"
              [(ngModel)]="classroomCapacity"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="classroomCapacity"
              name="classroomCapacity"
              placeholder="Enter Classroom Capacity"
            />
          </div>

          <div class="mb-3">
            <label>Classroom Name</label>
            <input
              type="text"
              [(ngModel)]="classroomName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="classroomName"
              name="classroomName"
              placeholder="Enter classroom Name"
            />
          </div>

          <div class="mb-3">
            <label for="classroomLevel">Classroom Level</label>
            <select
              [(ngModel)]="classroomLvl"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="classroomLevel"
              name="classroomLevel"
            >
              <option value="FIRST">First</option>
              <option value="SECOND">Second</option>
              <option value="THIRD">Third</option>
              <option value="FOURTH">Fourth</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="speciality">Classroom Speciality</label>
            <select
              [(ngModel)]="speciality"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="speciality"
              name="speciality"
            >
              <option value="INFO">Info</option>
              <option value="GENIECIVIL">Genie Civil</option>
            </select>
          </div>

          <button
            type="submit"
            class="btn btn-primary mt-4"
            (click)="register()"
          >
            Submit
          </button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<div>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Classroom Table</c-card-header>
        <c-card-body>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Classroom ID</th>
                <th>Classroom Name</th>
                <th>Classroom Capacity</th>
                <th>Classroom Level</th>
                <th>Classroom Speciality</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classroom of classroomArray; index as i">
                <td class="text-center">{{ classroom.id }}</td>
                <td>
                  <div>{{ classroom.classroomName }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                    <span>Registered: {{ classroom.classroomCapacity }}</span>
                  </div>
                </td>
                <td class="text-center">{{ classroom.classroomCapacity }}</td>
                <td class="text-center">{{ classroom.classroomLvl }}</td>
                <td class="text-center">{{ classroom.speciality }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="setDelete(classroom)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>

