<c-row>
  <c-col xs="5">
    <c-card class="mb-4">
      <c-card-header>User Table</c-card-header>
      <c-card-body>
        <form (ngSubmit)="followUser(user?.id)">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <td>{{ user?.id }}</td>
          </tr>
          <tr>
            <th>Login</th>
            <td>{{user?.login}}</td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>{{user?.firstName}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{user?.lastName}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{user?.email}}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ user?.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <th>Role</th>
            <td>{{user?.role}}</td>
          </tr>
          <tr *ngIf="user?.role === 'TEACHER'">
            <th>Speciality</th>
            <td>{{ user?.speciality }}</td>
          </tr>
          </thead>

        </table>
        <button type="submit"  class="btn btn-primary">
          Follow
        </button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
