
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Edukat - Education & LMS Template">

    <!-- ========== Page Title ========== -->
    <title>Edukat - Education & LMS Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5/html5shiv.min.js"></script>
      <script src="./assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body class="demo">

    <!-- Header
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default transparent navbar-fixed navbar-transparent white bootsnav">
            <div class="container">
        
                <!-- Start Atribute Navigation -->
                <div class="attr-nav inc-border">
                    <ul>
                        <!--add something to the menu on the top-->
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
        
        
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../assets/img/logo-light.png" class="logo logo-display" alt="Logo">
                        <img src="../assets/img/logo.png" class="logo logo-scrolled" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-container">
                    <div class="navbar-collapse-container">
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                                <li>
                                    <a class="smooth-menu" href="#demo">Demo</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                    <!-- Search Container at the right end of navbar -->
                    <div class="search-container ml-auto">
                        <input type="text" class="search-input" placeholder="Search..." (keyup)="applyFilter($event)">
                        <button class="search-button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                
        
            </div>
        </nav>
        
        
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Banner
    ============================================= -->
    <div class="banner-area demo-banner text-center shadow dark-hard bg-fixed text-light bg-gradient" style="background-image: url(../assets/img/demo/edukat-presentation.jpg);">
        <div class="box-table">
            <div class="box-cell">
                <div class="container demo-banner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content wow fadeInDown">
                                <!--something to show on the middle-->
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                    <div class="fun-fact-box">
                        <div class="fun-fact">
                            <div class="timer" data-to="687" data-speed="5000">12+</div>
                            <span class="medium">Unique Home</span>
                        </div>
                        <div class="fun-fact">
                            <div class="timer" data-to="2348" data-speed="5000">30+</div>
                            <span class="medium">Pages</span>
                        </div>
                        <div class="fun-fact">
                            <div class="timer" data-to="2348" data-speed="5000">RTL</div>
                            <span class="medium">Supported</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Demo
    ============================================= -->
    <div id="demo" class="demo-area demo-conten default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 site-heading text-center">
                    <h2>4 Unique Demo Home Pages</h2>
                </div>
            </div>
            <router-outlet></router-outlet>
            <div class="row">
                <div class="col-md-6 col-sm-6 item equal-height">
                    <div class="single-item wow fadeInUp">
                        <img src="../assets/img/demo/index-1.jpg" alt="Demo">
                        <div class="info">
                            <h4>Home Version One</h4>
                            <a href="../assets/index-1.html">Preview</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 item equal-height">
                    <div class="single-item wow fadeInUp">
                        <img src="../assets/img/demo/index-2.jpg" alt="Demo">
                        <div class="info">
                            <h4>Home Version Two</h4>
                            <a href="../assets/index-2.html">Preview</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 item equal-height">
                    <div class="single-item wow fadeInUp">
                        <img src="../assets/img/demo/index-3.jpg" alt="Demo">
                        <div class="info">
                            <h4>Home Version Three</h4>
                            <a href="../assets/index-3.html">Preview</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 item equal-height">
                    <div class="single-item wow fadeInUp">
                        <img src="../assets/img/demo/index-4.jpg" alt="Demo">
                        <div class="info">
                            <h4>Home Version Four</h4>
                            <a href="../assets/index-4.html">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Demo -->

    <!-- Start Footer
    ============================================= -->
    <footer class="text-light demo default-padding centered bg-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <img src="../assets/img/logo-light.png" alt="Logo">
                    </div>
                    <div class="copyright">
                        <p>&copy; Copyright 2021. Solion Template By <a href="#">validthemes</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.appear.js"></script>
    <script src="./assets/js/jquery.easing.min.js"></script>
    <script src="./assets/js/jquery.magnific-popup.min.js"></script>
    <script src="./assets/js/modernizr.custom.13711.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/progress-bar.min.js"></script>
    <script src="./assets/js/isotope.pkgd.min.js"></script>
    <script src="./assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/count-to.js"></script>
    <script src="./assets/js/YTPlayer.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/bootsnav.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>
